.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: calc(100% + env(safe-area-inset-top) + env(safe-area-inset-bottom));
}

.avoidSafeArea {
  margin-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}
